html{
    margin: 0;
    padding: 0;
    height: 100%;
    overscroll-behavior: none;
}
body{
    background-color: #e8e8e8 !important;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
    overflow-x: hidden;
    overscroll-behavior: none;
}
body::-webkit-scrollbar {
    width: 0;
}
.header{
    background-color: #333;
    color: 	#e8e8e8;
    padding: 20px 10px;
    /* border-bottom: 1px solid #b7b7b7; */
    border-radius: 5px;
    text-align: center;
}
.socials{
    text-decoration: none;
}
.socials:hover img{
    color: #0c7eef;
    opacity: 0.7;
}

.socials img{
    width: 30px;
    height: 30px;
    margin: 0 10px;
}
.summary{
    color: black;

}

.title{
    text-align: center;
    margin-bottom: 10px;
}

.skills {
    display: flex;
    justify-content: center;
    overflow-x: auto;
}

.skill-card {
    flex: 0 0 calc(25% - 20px);
    margin: 0 10px;
    padding: 20px;
    background-color: #333;
    color: white;
    transition: background-color 0.3s;
    border-radius: 10px;
    box-sizing: border-box;
    max-width: 250px;
}
.skill-card ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    max-width: 100%;
}
.skill-card li {
    flex: 1 0 calc(50% - 10px);
    margin: 5px;
}

.skill-card:hover {
    background-color:#b7b7b7;
}

.skill-images{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.skill-images img{
    width: 70px;
    height: 70px;
    margin: 10px;
}
.projects h1{
    text-align: center;
    margin-bottom: 10px;
}
.project-summary{
    display: inline-block;
    justify-content: right;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.project-card-left{
    background-color: #56595b;
    border-radius: 10px;
    /* text-align: left; */
    margin: 20px;
    opacity: 0;
    transform: translateX(-100%);
    flex-basis: 50%;
    max-height: 60vh;
    overflow: hidden; 
}
.project-card-right{
    background-color: #e8e8e8;
    border-radius: 10px; 
    text-align: left; 
    margin: 20px;
    opacity: 0;
    transform: translateX(100%);
    flex-basis: 50%;
    max-height: 60vh;
    overflow-y: scroll; 

    /* width: 50%; */
    /* height: auto;
    border-radius: 10px 10px 0 0;
    max-width: 1000px;
    margin: 0 auto;  */
}
.project-card-left img, .project-card-right img{
    width: 50%;
    height: auto;
    border-radius: 10px 10px 0 0;
    max-width: 1000px;
    margin: 0 auto; 
}
.project-summary,
.project-image {
    flex: 1;
    padding: 20px;
    overflow-y: scroll;
    max-height: calc(100vh - 40px); /* Adjust as needed */
    /* border: 1px solid #121111; */
    box-sizing: border-box;
}

.project-summary img{
    height: 30px;
    width: 30px;
}
.project-image img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}
.project-content {
    display: flex;
    width: 100%;
}

.project-card-left h2,
.project-card-right h2 {
    text-align: center; /* Center align only h1 elements */
}

@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideInFromRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.project-card-left.animate-left {
    animation: slideInFromLeft 1s ease forwards;
}
.project-card-right.animate-right {
    animation: slideInFromRight 1s ease forwards;
}

.work_experience{
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    margin: 0 -10px;
}

.summary-text{
    max-height: calc(50vh - 40px) !important; /* Adjust as needed */
    overflow-y: scroll !important;

}